#videoContainer {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #000;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

#playButton.show {
  display: block;
}

#playButton.hide {
  display: none;
}

.videoDesc {
  margin-top: 20px;
}
